@import url('https://fonts.googleapis.com');
body {
    background-color: white;
}
h1, h2 {
  text-align: center; 
  font-family: "Quicksand", sans-serif; 
}
.ball {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.clicker:hover {
    filter: brightness(80%);
}
.clicker:active {
    filter: brightness(70%);
}
.clicker {
    position: relative;
    color: red;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    place-items: center;
    margin: auto;
    height: 400px;
    width: 400px;
}
#pokeball {
 -webkit-clip-path: circle(20px at 50% 50%);
  clip-path: circle(20px at 49% 49%)
}

